.mobile-menu-container {
    position: absolute;
    top: 50%;
    right: 0;
  }
  
  .mobile-menu {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: relative;
  }
  
  .sub-menu {
    position: absolute;
    width: 160px;
    top: 0;
    left: -150%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease; /* Add transition for smooth animation */
  }
  
  .sub-menu.active {
    left: 100%;
  }
  