@import "../Styles/app.scss";
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Catamaran:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Catamaran:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ms+Madi&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Catamaran:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Ms+Madi&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  // start text
  .start {
    background-color: #fbf7f6;
    // height: 289px;
    padding: 80px 0px;
    .protfolio {
      font-size: 24px;
      font-family: "Antic Didone", sans-serif;
      letter-spacing: normal;
      color: #2f3640;
      text-align: center;
      padding-top: 60px;
      letter-spacing: 1px;
      line-height: 34px;
    }
  }
  .newborn {
    font-size: 48px;
    font-family: "Antic Didone", sans-serif;
    color: #bb8aa0;
    letter-spacing: 1px;
    line-height: 72px;
    text-align: center;
    margin-top: 15px;
    @include xtablet{
      font-size: 36px;
    }
  }
  // flex portion
  .maincont{
    background-color: #fbf7f6;

  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 100px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    position: relative;
    .gallery-modal {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
     .func{
      @include tab{
        margin-top: 25%;
      }
      @include xtablet{
      margin-top: 50%;}
     }
    }
    
    .close-icon {
      color: white;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 1000;
    }
    .pic {
      height: 125px;
      width: 223px;
      background-size: cover;
      cursor: pointer;
      .imgvv{
        width: 100%;
        height: 100%;
      }
    }
    
  }}



  // main text
.txtmain{
  padding: 0px 80px;
  @include tab{
    padding: 0px 40px;

  }
  @include xtablet{
    padding: 0px 28px;
  }
  .mtext {
    font-size: 24px;
    max-width: 900px;
    margin: auto;
    color: #2f3640;
    line-height: 36px;
    letter-spacing: 1px;
    margin-top: 91px;
    
    font-family: "Antic Didone", sans-serif;
    font-weight: 400;
    text-align: justify;

   
  }
  // let text
  .let {
  
    color: #bb8aa0;
    font-size: 48px;
    line-height: 72px;
    font-family: "Antic Didone", sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    max-width: 900px;
    margin: auto;


   
  }
  .Itext {
    font-size: 24px;
    color: #2f3640;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
    text-align: justify;
  
    font-family: "Antic Didone", sans-serif;
    font-weight: 400;
    max-width: 900px;
    margin: auto;

    @include laptop {
    
    }
    @include mobile {
     
    }
  }
  .span {
    background-color: rgb(177, 125, 148);
    height: 76px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 50px;
    // margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    @include laptop {
      width: 80%;
    
    }
    @include mobile {
      width: 80%;
     
    }
    .session {
      color: white;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: normal;
      font-family: "Antic Didone", sans-serif;
      // padding-left: 15%;
      @include laptop {
        // padding-left: 30%;
      }
      @include mobile {
        // padding-left: 8%;
      }
    }
  }
}
}