@import "../../Styles/app.scss";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main {
  max-width: 1600px;
  width: 100%;
  // height: 100vh;
  padding-top: 80px;
  margin: auto;
  .masonry-container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
    max-height: 1500px;
    overflow: hidden;
    
  
  .my-masonry-grid {
    display: flex;
    margin-left: -30px; /* Adjust gutter size */
    width: auto;
    @include tab{
      margin-left: 0;
    }
    
    
    
  }
  // @media screen and (max-width: 850px) {
  //   .my-masonry-grid {
  //     display: flex;
  //     margin-left: -15px; /* Remove gutter size */
  //     width: auto;
  //   }
  
  //   .my-masonry-grid_column {
  //     padding-left: 0; /* Remove gutter size */
  //     width: 50%; /* Two columns on tab */
  //   }
  // }
  
  .my-masonry-grid_column {
    padding-left:2px; /* Gutter size */
    background-clip: padding-box;
  }
  
  .my-masonry-grid_column > div {
    margin-bottom: 2px;
  }
  
  img {
    display: block;
    width: 100%;
    transition: transform 0.3s ease; // Add transition for a smoother effect
  
    &:hover {
      transform: scale(1.1); // Scale the image by 10% on hover
    }
  }}





  .gallery-modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    .func {
      @include tab {
        margin-top: 0%;
      }
      @include xtablet {
        margin-top: 0%;
      }
    }
  }

  .close-icon {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
  }
  .origimage{
      width: 80vw;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
  }
  .thumbn{
      // border-radius: 20px;
      width: 85%;
      height: 100%;
      object-fit: cover;
      margin-right: 7px;
      @include xtablet{
          width: 70%;
          margin-right: 25px;
      }
  }
  .pic {
    height: 125px;
    width: 223px;
    background-size: cover;
    cursor: pointer;
    .imgvv {
      width: 100%;
      height: 100%;
    }
    
  }
  .maternity_main_sec{
    max-width: 940px;
    margin: auto;
  }
  .super_maternity {
    width: 80%;
    // border: 4px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    // height: 50vh;
    .maternity_main {
      width: 100%;
      display: flex;
      flex-direction: column;
      .maternity_porfolio {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        color: #2f3640;
        font-size: 24px;
        font-weight: 400;
        font-family: "Antic Didone";
      }
      .maternity__photography {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 48px;
        font-weight: 400;
        color: #bb8aa0;
        font-family: "Antic Didone";
        @include z {
          font-size: 30px;
          text-align: center;
        }
      }
      .maternity_main_sec {
        display: flex;
        // flex-direction: row;
        flex-wrap: wrap;
        padding-left: 80px;
        padding-right: 80px;
        justify-content: center;
        position: relative;
        // border: 2px solid black;
        @include tab{
            padding-right: 40px;
            padding-left: 40px;
           }
    
           @include xtablet{
            padding-left: 28px;
            padding-right: 28px;
           }

        .gallery-modal {
          position: fixed;
          z-index: 1000;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.9);
          .func {
            @include tab {
              margin-top: 0%;
            }
            @include xtablet {
              margin-top: 0%;
            }
          }
        }

        .close-icon {
          color: white;
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
          z-index: 1000;
        }
        .origimage{
            width: 80vw;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
        .thumbn{
            // border-radius: 20px;
            width: 85%;
            height: 100%;
            object-fit: cover;
            margin-right: 7px;
            @include xtablet{
                width: 70%;
                margin-right: 25px;
            }
        }
        .pic {
          height: 125px;
          width: 223px;
          background-size: cover;
          cursor: pointer;
          .imgvv {
            width: 100%;
            height: 100%;
          }
          
        }

        .matrnity_min_1 {
          //   width: 250px;
          //   height: auto;
          border: 2px solid white;
          .maternity_min_img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .maternity_text_pra_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .maternity_text_pra_min {
      width: 65%;
      @include laptop {
        width: 100%;
      }
      @include z {
        font-size: 20px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
      }
      // border: 2px solid yellow;
      color: #2f3640;
      font-size: 24px;
      font-weight: 400;
      font-family: "Antic Didone";
      text-align: justify;
      padding-top: 150px;
      padding-bottom: 100px;
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  .let_me_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid red;
    // height: 30vh;
    .let_me_min {
      width: 100%;
      // height: 30vh;
      // border: 2px solid black;
      .let_text_1 {
        color: #bb8aa0;
        font-size: 48px;
        font-weight: 400;
        font-family: "Antic Didone";
        text-align: center;
        @include z {
          font-size: 35px;
          padding-left: 20px;
          padding-right: 20px;
          br {
            display: none;
          }
        }
        @include mobile {
          font-size: 25px;
        }
      }
      .let_text_2 {
        color: #2f3640;
        font-size: 24px;
        font-weight: 400;
        font-family: "Antic Didone";
        text-align: center;
        padding-top: 30px;
        padding-bottom: 50px;
        @include z {
          // font-size: 35px;
          padding-left: 20px;
          padding-right: 20px;
          br {
            display: none;
          }
        }
        @include mobile {
          font-size: 20px;
        }
      }
    }
  }
  .schedule_your_session_main {
    width: 100%;
    // height: 30vh;
    // border: 2px solid blue;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .schedule_your_session_button {
      color: white;
      font-size: 24px;
      font-weight: 400;
      font-family: "Antic Didone";
      background-color: #b17d94;
      padding: 20px 70px 20px 70px;
      border-radius: 4px;
      transition: background-color 0.3s ease; /* Add transition for a smoother effect */
    }
    .schedule_your_session_button:hover {
      background-color: #cb5188;
    }
  }
}
