@import "../../Styles/app.scss";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    max-width: 1600px;
    width: 100%;
    // height: 100vh;
    margin: auto;
    .super_maternity{
        width: 80%;
        // border: 4px solid black;
        display: flex;
        flex-direction: column;
        margin: auto;
        // height: 50vh;
        .maternity_main{
            width: 100%;
            display: flex;
            flex-direction: column;
            .maternity_porfolio{
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 50px;
                color: #2f3640;
                font-size: 24px;
                font-weight: 400;
                font-family: "Antic Didone";
            }
            .maternity__photography{
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 40px;
                font-size: 48px;
                font-weight: 400;
                color: #bb8aa0;
                font-family: "Antic Didone"; 
                @include z{
                    font-size: 30px;
                    text-align: center;
                }   
            }
            .maternity_main_sec {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 80px;
            padding-right: 80px;
            justify-content: center;
            // border: 2px solid black;
            .matrnity_min_1 {
                width: 250px;
                height: auto;
                border: 2px solid white;
                .maternity_min_img{
                    width: 100%;
                    object-fit: cover;
                    }
                }
            }
        }
    }
    .maternity_text_pra_main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .maternity_text_pra_min{
            width: 65%;
            @include laptop {
                width: 100%;
            }
            @include z {
                font-size: 20px;
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }
            // border: 2px solid yellow;
            color: #2f3640;
            font-size: 24px;
            font-weight: 400;
            font-family: "Antic Didone";
            text-align: justify;
            padding-top: 150px;
            padding-bottom: 100px;
            padding-left: 80px;
            padding-right: 80px;
        }
    }
    .let_me_main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 2px solid red;
        // height: 30vh;
        .let_me_min{
            width: 100%;
            // height: 30vh;
            // border: 2px solid black;
            .let_text_1{
                color: #bb8aa0;
                font-size: 48px;
                font-weight: 400;
                font-family: "Antic Didone";
                text-align: center;
                @include z{
                    font-size: 35px;
                    padding-left: 20px;
                    padding-right: 20px;
                    br{
                        display: none;
                    }
                }
                @include mobile {
                    font-size: 25px;
                }
            }
            .let_text_2{
                color: #2f3640;
                font-size: 24px;
                font-weight: 400;
                font-family: "Antic Didone";
                text-align: center;
                padding-top: 30px;
                padding-bottom: 50px;
                @include z{
                    // font-size: 35px;
                    padding-left: 20px;
                    padding-right: 20px;
                    br{
                        display: none;
                    }
                }
                @include mobile {
                    font-size: 20px;
                } 
            }
        }
    }
    .schedule_your_session_main{
        width: 100%;
        // height: 30vh;
        // border: 2px solid blue;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        .schedule_your_session_button{
            color: white;
            font-size: 24px;
            font-weight: 400;
            font-family: "Antic Didone";
            background-color: #B17D94;
            padding: 20px 70px 20px 70px;
            border-radius: 4px;
            transition: background-color 0.3s ease; /* Add transition for a smoother effect */
        }
        .schedule_your_session_button:hover {
            background-color: #cb5188;
        }
    }
}